/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
		height:100%;
		width: 100%;
    background: url('camera2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-item {
    margin-bottom: 25px;
}

#videobcg {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

.videoContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/*.videoContainer video {
	min-width: 100%;
	min-height: 100%;
}*/