/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

/*.full {
		height:100%;
		width: 100%;
    background: url('camera2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

.portfolio-item {
    margin-bottom: 25px;
}

.container1 {
	height: 100%;
	width: 100%;
}

.full2 {
		height:100%;
		width: 100%;
    background: url('coliseum2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container2 {
	height: 100%;
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
.container2-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*	background: url("Coliseum.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

.container3 {
	background-color: rgb(26, 26, 26);
	height: 100%;
	width: 100%;
}

.header-unit {
	height: 100%;
	position: relative;
}

#video-container {
	position: absolute;
}

#video-container {
	top:0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
video {
	position: absolute;
	z-index:-100;
}
video.fillWidth {
	width: 100%;
}
/*#videobcg {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;

}
/*.videoContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
*/
/*.videoContainer video {
	min-width: 100%;
	min-height: 100%;
}*/